services:
  dbserver:
    image: mariadb:10.11
    container_name: ${SID:-16102228}_7009_dbserver_c
    hostname: db.cyber23.test
    networks:
      app_net:
        ipv4_address: 203.0.113.201
    env_file:
       - ./webserver/.env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./dbserver/sqlconfig:/docker-entrypoint-initdb.d:ro
    restart: unless-stopped
    # keep default capabilities (entrypoint needs to chown and switch users)
    tmpfs:
      - /var/run/mysqld:rw
    security_opt:
      - no-new-privileges:true


  webserver:
    build:
      context: ./webserver
      dockerfile: Dockerfile
    container_name: ${SID:-16102228}_7009_webserver_c
    hostname: www.cyber23.test
    networks:
      app_net:
        ipv4_address: 203.0.113.200
#    depends_on:
#      dbserver:
#       condition: service_healthy
    ports:
      - "80:80"
    environment:
      DB_HOST: db.cyber23.test
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
      - CHOWN
      - SETUID
      - SETGID
#    read_only: true
    # make a writable tmpfs for runtime sockets/dirs that must be writable at runtime
  #  tmpfs:
 #     - /tmp
#      - /run/php-fpm
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  app_net:
    driver: bridge
    ipam:
      config:
        - subnet: 203.0.113.0/24

volumes:
  mysql_data:
